.tout{
 background-color: white;
 font-weight: bold;
 border: 1px solid black;
}

.tabs{
 display: flex;
 justify-content: space-around;
 list-style-type: none;
 cursor: pointer;
}

.tab1 .tab2 .tab3{
	border: 1px solid black;
}